<?php

return [
    'APP_NAME' => 'Parkir Premium',
    'APP_ENV' => 'local',
    'APP_DEBUG' => true,
    'APP_URL' => 'http://localhost',
    'DB_CONNECTION' => 'sqlite',
    'DB_DATABASE' => __DIR__.'/../database/database.sqlite',
    'CACHE_DRIVER' => 'file',
    'SESSION_DRIVER' => 'file',
    'QUEUE_CONNECTION' => 'sync',
];
